################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/corelib/.vs/render/v15/Server/sqlite3
/.vs/corelib/.vs/render/v15/sqlite3/storage.ide-wal
/.vs/corelib/.vs/render/v15/sqlite3/storage.ide-shm
/.vs/corelib/.vs/render/v15/sqlite3/db.lock
